body{
    margin: 0ch;
    background-color: black;
    color: aliceblue;
}
#logo{
    height:80px ;
    width: 80px;
}
.navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 130px;
    justify-content: space-around;
    background-color: grey;
    margin: 5px;
  } 
  .logoimage{
    position: relative;
    right: 5%;
}

.but{
    position: relative;
    top: 15px;
    border: 0ch;
    background-color: rgb(162, 159, 159);
    height: 50px;
    width: 130px;
    transition-duration: 1.8ms;
}
.but:hover{
    background-color: aliceblue;
}
