.nav{
    display: flex;
    width: 100%;
    background-color: antiquewhite;
    justify-i: flex-end;
    height: 100px;

}
#logoimg{
    height:50px ;
    width: 50px;
    background-color: red;
}
.logonav{
    justify-self:left;
}
.navfiller{
    width:200px;
    background-color: green;
}
